<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotic_arm_5dof">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import robotic_arm_5dof urdf file -->
    <xacro:include filename="$(find robotic_arm_description_test1)/urdf/ros2_Robo_Arm_Robus.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="robotic_arm_5dof.ros2_control.xacro" />


    <xacro:robotic_arm_5dof_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
